apiVersion: batch/v1
kind: Job
metadata:
  name: mcscf-gnn-sweep-1
spec:
  backoffLimit: 0
  template:
    metadata:
      labels:
        app: wandb-sweep
    spec:
      containers:
      - args:
        - "\n              sudo apt-get update && sudo apt-get install -y p7zip-full\
          \ wget git\n\n              pip install wandb torch_geometric\n\n      \
          \        git clone https://github.com/tsereda/mcscf-gnn.git\n          \
          \    cd mcscf-gnn\n\n              unzip /data/dec20.zip\n             \
          \ sudo cp -r for-tim/ data/\n\n              wandb agent timgsereda/gamess-gnn-sweep/sp9hxu1m\n\
          \        "
        command:
        - /bin/bash
        - -c
        env:
        - name: WANDB_API_KEY
          valueFrom:
            secretKeyRef:
              key: api-key
              name: wandb-credentials
        - name: WANDB_PROJECT
          value: gamess-gnn-sweep
        - name: WANDB_ENTITY
          value: timgsereda
        - name: WANDB_MODE
          value: online
        image: gitlab-registry.nrp-nautilus.io/prp/jupyter-stack/prp
        name: brats-processing
        resources:
          limits:
            cpu: '18'
            memory: 30Gi
            nvidia.com/a100: '1'
          requests:
            cpu: '15'
            memory: 25Gi
            nvidia.com/a100: '1'
        volumeMounts:
        - mountPath: /app
          name: workspace
        - mountPath: /data
          name: data
        - mountPath: /dev/shm
          name: shm
      nodeSelector:
        nautilus.io/linstor: 'true'
      restartPolicy: Never
      tolerations:
      - key: nvidia.com/gpu
        operator: Exists
      - effect: PreferNoSchedule
        key: nvidia.com/gpu
        operator: Exists
      volumes:
      - emptyDir:
          sizeLimit: 50Gi
        name: workspace
      - name: data
        persistentVolumeClaim:
          claimName: mcscfgnn-3
      - emptyDir:
          medium: Memory
          sizeLimit: 16Gi
        name: shm
